@model GestVeicular.Models.Servicos

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/VeiculoRegister.css" />

<div class="register-page">
    <div class="register-container register-card">
        <a asp-action="Index" class="btn-voltar"><i class="fas fa-arrow-left"></i> Voltar</a>

        <h2><i class="fas fa-car"></i> Detalhe do Serviço</h2>

        <div class="form-group">
            <label><strong>Nome do cliente:</strong></label>
            <div>@Model.Cliente.Nome</div>
        </div>
        
        <div class="form-group">
            <label><strong>Veiculo:</strong></label>
            <div>@Model.Veiculo.NomeVeiculo</div>
        </div>

        <div class="form-group">
            <label><strong>Placa:</strong></label>
            <div>@Model.Veiculo.Placa</div>
        </div>

        <div class="form-group">
            <label><strong>Descrição:</strong></label>
            <div>@Model.DescricaoServico</div>
        </div>

        <div class="form-group">
            <label><strong>Inicio do serviço:</strong></label>
            <div>@Model.DataServico.ToString("dd/MM/yyyy")</div>
        </div>

        <div class="form-group">
            <label><strong>Valor:</strong></label>
			<div>@Model.ValorServico.ToString("C")</div>

        <div class="form-group">
            <label><strong>Status:</strong></label>
            <div>@Model.Status</div>
        </div>

		</div>
        <a asp-Controller="Servicos" asp-action="Editar" asp-route-id="@Model.IdServico" class="btn-submit" style="text-align:center; display:block; margin-top: 24px;">
            <i class="fas fa-edit"></i> Editar
        </a>
    </div>
</div>
